/* .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aquamarine;
  border-bottom: 1px solid black;
  padding: 10px;
}

.nav-bar img {
  width: 10%;
}

.links-nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.links-auth {
  width: 20%;
  display: flex;
  justify-content: space-between;
} */
